@charset "utf-8";

*{padding: 0; margin: 0;}
li{list-style: none;}

/* 1. 구성요소 layout */
header{
  width: 100%; min-width: 1200px; height: 215px;  
}
main{
  width: 100%; min-width: 1200px; height: 485px; 
  margin-bottom: 70px;
  background-color: lightblue;
}
.best, .product{
  width: 1200px; height: 1010px;
  margin: 0 auto 70px;
}
.present{
  width: 1200px; height: 560px;
  margin: 0 auto 70px;
}
.movie{
  width: 1200px; height: 600px;
  margin: 0 auto 70px;
  background-color: lightgrey;
}
.recipe{
  width: 100%; min-width: 1200px; height: 410px;
  margin-bottom: 70px;
}
.contest{
  width: 1200px; height: 490px;
  margin: 0 auto 70px;
}
.iconbanner{
  width: 1200px; height: 215px;
  margin: 0 auto 70px;
}
.image_banner{
  width: 1200px; height: 220px;
  margin: 0 auto 70px;
}
.instagram{
  width: 100%; min-width: 1200px; height: 50px;
  margin-bottom: 130px;
}
.bottom_contents{
  width: 100%; min-width: 1200px; height: 300px;
  border-top: 1px solid #ccc;
  padding: 40px 0 50px;
  box-sizing: border-box;
}
footer{
  width: 100%; min-width: 1200px; height: 365px;
  padding: 35px 0  40px;  box-sizing: border-box;
  background-color: #231916;
}
.quick_menu{
  position: fixed; top: 70px; right: 0;
  width: 90px; height: 200px;
  background-color: lightgrey;
}

 /* 2. 행간 layout */
 .h_top{
  width: 100%; height: 35px;
  background-color: #231916;
 }
 .h_middle{
  width: 1200px; height: 125px;
  margin: 0 auto;
  background-color: lightgray;
 }
 .h_bottom{
  width: 100%; height: 55px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
 }
 .f_top{
  width: 1200px; height: 40px;
  margin: 0 auto 60px;
  background-color: lightgray;
 }
 .f_bottom{
  width: 1200px; height: 70px;
  margin: 0 auto 50px;
  background-color: lightgray;
 }
 .copy{
  width: 1200px; height: 70px;
  margin: 0 auto;
  background-color: lightgray;
  border-top: 1px solid #372e2c;
  box-sizing:border-box;  
 }
