@charset "utf-8";

*{padding: 0; margin: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{cursor: pointer;}
table{
  /* cell 간의 여백 제거하기 */
  border-spacing: 0;
  /* 선 겹침 허용하기 */
  border-collapse: collapse;
}

.joinbox{
  width: 1200px;  
  /* block 요소를 부모영역의 한 가운데 위치시킴 */
  margin: 0 auto;
}
.joinbox h2{
  text-align: center;
  height: 100px; line-height: 100px;
  font-size: 36px; color: #323844;
}
.joinbox h3{
  height: 60px; 
  font-size: 30px; color: #323844;
  border-bottom: 1px solid #323844;
  margin-bottom: 30px;
}
.joinbox p{
  color: #666; font-size: 14px;
  margin-bottom: 15px;
}
.joinbox .star{
  color: #ffad00; font-weight: bold;
  /* 현재 위치에서 상대적으로 이동함 */
  position: relative; top: 1px;
}
.joinbox caption{
  position: absolute; left: -999em;
}
.joinbox table{
  width: 100%;
  border-top: 2px solid #323844;
  border-bottom: 2px solid #323844;
  margin-bottom: 50px;
}
.joinbox th{
  width: 180px; padding: 10px;
  background-color: #323844;
  text-align: left;
  color: #fff;
}
.joinbox th label{color: #fff;}
.joinbox td{
  padding: 10px;
  border-bottom: 1px solid  #323844;
  color: #666; font-size: 14px;
}
.joinbox .box01{
  width: 200px; height: 30px;
  border: 1px solid #999;
  /* 테두리를 영역 안으로 처리함 (inside) */
  box-sizing: border-box;
  /* 사용자가 박스 안에 값을 입력할 때 공간을 여유 있게 함 */ 
  padding: 0 10px;
}
.joinbox button{
  height: 30px; border: none;
  background-color: #ffad00;  
  color: #fff; font-size: 14px;
  padding: 0 20px;
  position: relative; top: 1px;
}
.joinbox input[type="radio"]{
  position: relative; top: 1px;
}
.joinbox .spacing{ margin-right: 10px;}
.joinbox .middletd{ width: 550px; }
.joinbox .box02{
  width: 100px; height: 30px;
  border: 1px solid #999;
  box-sizing: border-box; padding: 0 10px;
}
.join .spacing02{
  position: relative; left: -5px;
}
.joinbox .away{
  position: absolute; left: -999em;
}
.joinbox .margin01{
  margin-bottom: 10px;
}
.joinbox .chkbox{
  /* 체크박스 텍스트 가운데 위치함 */
  text-align: center; margin-bottom: 50px;
}
.joinbox .btnwrap{
  /*  버튼 제목을 가로 가운데 위치함 */
  text-align: center;
}
.joinbox button[type="submit"]{
  height: 50px; padding: 0 30px;
  font-size: 18px;
}
.joinbox button[type="reset"]{
  height: 50px; padding: 0 30px;
  font-size: 18px;
  background-color: #999;
}  




