@charset "utf-8";

/* browser 초기화 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
*{
  padding:0; margin: 0;
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgum Gothic', sans-serif;
  font-size: 14px;
  color: #444;
}
li{ list-style: none;}
a{text-decoration: none;}

/* layout */
header{
  width: 100%; min-width: 1180px; height: 115px;
  border-bottom: 1px solid #ccc;
}

footer{
  width: 100%; height: 215px; min-width: 1180px;
  border-top: 1px solid #ccc;
}

.htop{
  width: 100%; min-width: 1180px; height: 35px;
  background-color: #014bb4;
}

.hbottom{
  width: 1180px; height: 80px;
  margin: 0 auto;
}

.sitemap{
  width: 1180px; height: 50px;
  border-right: 1px solid #ccc;
  border-left:1px solid #ccc;
  box-sizing: border-box;
  margin:0 auto;
}

.ftop{
  width: 100%; min-width: 1180px; height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ededed;
}

.fbottom{
  width:100%; min-width: 1180px; height: 115px;
  padding-top: 20px; box-sizing: border-box;
  background-color: #ededed;
}
.wrap{
  width: 1180px;height: 100%;
  margin: 0 auto; 
}
.left_nav{
  float: left; 
}
.left_nav li{
  float: left;
  height: 35px; 
  padding: 0 10px;
  /* 한줄 text인 경우 height와 line-height를 똑같이하면 세로 가운데 위치함  */
  line-height: 35px;

}

.left_nav .first{
  background-color: #fff;

}
.left_nav a{
  color: #fff;  
}
.left_nav .first a{color: #444;}
.right_nav{
  float:right;  
}
.right_nav li{
  float: right;
  margin : 0 10px;
  height: 35px; line-height: 35px;
}

.right_nav a{color : rgba(255, 255, 255, 0.712);}
.right_nav .last a{
  border:1px solid rgba(255,255,255,0.7);
  padding: 2px 10px
}

.right_nav .last a:hover{
  border:1px solid rgba(255,255,255,1);
  padding: 2px 10px;
  background-color: #013696;
}

.right_nav .direct a{
  border: 1px solid #54e1ff;  
  color: #54e1ff; padding : 2px 10px;
}

.right_nav .direct a:hover{
  border: 1px solid #54e1ff;  
  color: #54e1ff; padding : 2px 10px;
  background-color: #013696;
}

/* logo-bottom   */

.sitemap li:last-child{
  border-right: none;
}

.sitemap a{
  display: block; width: 100%; height: 100%;
  padding: 0 10px; box-sizing: border-box;  
  line-height: 50px;

  background-image: url(../ex01_images/footer_more.png);
  background-repeat: no-repeat; 
  background-position:  calc(100% -10px) center;
}

/* fnav */
.fnav{
  float: left; height: 48px; line-height: 48px;
}
.fnav li{
  float: left;  margin: 0 10px;
}
.fnav li:first-child{ margin-left: 0%;}
.fnav li:after{
  content : '|';
  font-size: 8px; color:#ccc;
  position: relative; top: -3px; left:10px;
}
.fnav li:last-child::after{
  content:'';
}
.fnav li:last-child a{
  color:#333; font-weight: 700;
}

.award{
  float:left; margin:10px;
}
.award li{float: left; margin-top: 10px;}

.fbottom li{
  float: left; line-height: 37px; margin: 0 10px;
  font-size: 13px ; color: #666;
}

.fbottom li:nth-child(1), .fbottom li:nth-child(5){
  margin-left:0; clear: both;
}

.fbottom li:after{
  content: '|';
  font-size: 8px; color:#ccc;
  position:relative; top: -2px; left:10px;
}
.fbottom li:nth-child(4):after, .fbottom li:nth-child(9):after{
  display: none;
}